DESCRIPTION

Problem Statement: 

Analyze the Federal Aviation Authority (FAA) dataset using Pandas to do the following:

1.  View 
            a.  Aircraft manufacturer name
            b.  State name
            c.  Aircraft model name
            d.  Text information
            e.  Flight phase
            f.   Event description type
            g.  Fatal flag

      2.  Clean the dataset and replace the fatal flag NaN with “No”

      3.  Find the aircraft types and their occurrences in the dataset 

      4.  Remove all the observations where aircraft names are not available

      5.  Display the observations where fatal flag is “Yes”

In [1]:
import pandas as pd
import sqlite3
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("faa_ai_prelim.csv")
df.head(2)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [4]:
df1 = df[['ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'LOC_STATE_NAME', 'RMK_TEXT', 'FLT_PHASE', 'FATAL_FLAG', 'EVENT_TYPE_DESC']]
df1

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,LOC_STATE_NAME,RMK_TEXT,FLT_PHASE,FATAL_FLAG,EVENT_TYPE_DESC
0,BEECH,36,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Yes,Accident
1,VANS,RV7,Florida,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),NaN,Incident
2,CESSNA,172,New Jersey,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),NaN,Incident
3,LANCAIR,235,North Carolina,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),NaN,Incident
4,CESSNA,172,Alaska,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),NaN,Incident
...,...,...,...,...,...,...,...
78,AERONCA,O58B,Texas,"AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...",LANDING (LDG),NaN,Accident
79,NORTH AMERICAN,F51,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Yes,Accident
80,CHAMPION,8KCAB,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Yes,Accident
81,BEECH,35,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Yes,Accident
82,CESSNA,182,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Yes,Accident

In [5]:
df1.isna().sum()

ACFT_MAKE_NAME      5
ACFT_MODEL_NAME     4
LOC_STATE_NAME      0
RMK_TEXT            0
FLT_PHASE           1
FATAL_FLAG         75
EVENT_TYPE_DESC     0
dtype: int64

In [6]:
df1["FATAL_FLAG"].fillna("No", inplace = True) #Clean the dataset and replace the fatal flag NaN with “No”
df1.isna().sum()

ACFT_MAKE_NAME     5
ACFT_MODEL_NAME    4
LOC_STATE_NAME     0
RMK_TEXT           0
FLT_PHASE          1
FATAL_FLAG         0
EVENT_TYPE_DESC    0
dtype: int64

In [7]:
#Find the aircraft types and their occurrences in the dataset
acft_type = df1.groupby("ACFT_MAKE_NAME")["ACFT_MAKE_NAME"].count()
acft_type

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
Name: ACFT_MAKE_NAME, dtype: int64

In [8]:
#Remove all the observations where aircraft names are not available
print(df1["ACFT_MAKE_NAME"].isna().sum())
print(df1.shape)

5
(83, 7)

In [9]:
df1.dropna(subset= ["ACFT_MAKE_NAME"], inplace=True)
print(df1.shape)

(78, 7)

In [10]:
df1["ACFT_MAKE_NAME"].isna().sum()

0

In [11]:
#Display the observations where fatal flag is “Yes”
new_df1 = df1[df1["FATAL_FLAG"] == "Yes"]
new_df1

,ACFT_MAKE_NAME,ACFT_MODEL_NAME,LOC_STATE_NAME,RMK_TEXT,FLT_PHASE,FATAL_FLAG,EVENT_TYPE_DESC
0,BEECH,36,North Carolina,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Yes,Accident
53,PIPER,PA28,Florida,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES. ...,UNKNOWN (UNK),Yes,Accident
55,FLIGHT DESIGN,CTLS,California,AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES A...,UNKNOWN (UNK),Yes,Accident
79,NORTH AMERICAN,F51,Arizona,"AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...",UNKNOWN (UNK),Yes,Accident
80,CHAMPION,8KCAB,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Yes,Accident
81,BEECH,35,California,"N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...",UNKNOWN (UNK),Yes,Accident
82,CESSNA,182,Alabama,N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...,UNKNOWN (UNK),Yes,Accident